body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar > .container {
  max-width: 100%;
  margin: 0 1rem;
  padding: 0;
}

.friendList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.friendCard {
  background-color: #f5cac2;
}

.searchContainer {
  display: flex;
  column-gap: 100px;
}