.profile-picture {
    border-radius: 50%;
    height: 12.5rem;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.right-container {
    padding-left: 3rem;
}

.button {
    border: none;
    border-radius: 10px;
    background-color: #ED7966;
    color: white;
    width: 4.5rem;
    height: 2.5rem;
    font-size: 18px;
}

.title {
    font-size: 18px;
    margin-bottom: 0.5rem;
}