body {
    background-color: #fae5df;
}

.Form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-color: #fae5df; */
  }
  
  .Form {
    width: 420px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fae5df;
  }
  
  .Form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: #141850;
    font-weight: 800;
  }

  .link {
    font-weight: bold;
    text-decoration: underline;
    color: #141850; 
  }

  .link:hover{
    color: #ed7966;
    cursor: pointer;
  }

  /* input {
    background-color: #f5cac2;
  } */
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: #141850;
  }

  /* button {
    background-color: #141850;
    color: #fae5df;
    width: 25%;
  } */
  
